.delever {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}

.main1 {
    align-items: stretch;
}

h1 {
    text-align: center;
    padding-top: 50px;
}

.main1 {
    position: relative;
}

.main2 {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}

.card-title {
    text-align: center;
}

.btn-primary {
    align-items: center;
    margin-left: 60px;
}

.card-text {
    text-align: center;
}